<div align = "center">
<h1>Create a new Animal</h1>

<form action="/animalshelter/animal" method="post">
  <label for="name">Name</label>
  <input type="text" name="name">
  <label for="breed">Breed</label>
  <input type="text" name="breed">
  <label for="type">Type</label>
  <input type="text" name = type>
  <label for="adoptable">Adoptable</label>
  <input type="text" name="adoptable">
  <label for="admission_date">Admission Date</label>
  <input type="text" name="admission_date">


  <input type="submit" value= "Add Animal">
</form>
</div>
