<nav>
  <div class="flex-container">
    <div class="logo"><img src="/charity_logo.jpg"/></div>
    <div class="child-div"><a href="/animalshelter/animals">All Animals</a></div>
    <div class="child-div"><a href="/animalshelter/owners">All Owners</a></div>
    <div class="child-div"><a href="/animalshelter/animal/adoption">Adopt Animal</a></div>
  </div>
</nav>
<img src="/aspca.jpg" class="center"/>
