<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>Scottish Animal Shelter</title>
</head>
<body>
  <nav>
    <div class="flex-container">
      <div class="logo"><a href="/animalshelter"><img src="/charity_logo.jpg"/></a></div>
      <div class="child-div"><a href="/animalshelter/animals">All Animals</a></div>
      <div class="child-div"><a href="/animalshelter/owners">All Owners</a></div>
      <div class="child-div"><a href="/animalshelter/animal/adoption">Adopt Animal</a></div>
      <div class="child-div"><a href="/search">Search by Breed/Type</a></div>
    </div>
  </nav>
  <%= yield %>
</body>
</html>
