<h1>Edit Owner</h1>

<form action="/animalshelter/owner/<%= @owner.id %>" method="post">
<label for="first_name">First Name:</label>
<input type="text" name = "first_name" value = <%=@owner.first_name %>>
<label for="last_name">Last Name:</label>
<input type="text" name = "last_name" value = <%=@owner.last_name %>>

<input  type="submit" value="Save">

</form>
