<div align = "center"
<p><h1>Edit Owner</h1></p>
<form action="/animalshelter/owner/<%= @owner.id %>" method="post">
<b><label for="first_name">First Name:</label></b>
<input type="text" name = "first_name" value = <%=@owner.first_name %>>
<b><label for="last_name">Last Name:</label></b>
<input type="text" name = "last_name" value = <%=@owner.last_name %>>

<input  type="submit" value="Save">

</form>
</div>
